<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h2>Pictures Older Then 1 Month (<%= @pictures_older_than_1_month.length %>)</h2>
<% @pictures_older_than_1_month.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h2>Pictures from 2017 (<%= @pictures_2017.length %>)</h2>
<% @pictures_2017.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h2>Pictures from 2016 (<%= @pictures_2016.length %>)</h2>
<% @pictures_2016.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>
